html, body {height: 95vh; overflow: hidden}

/*main divs*/
.main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*clouds*/
#cloud-right {
  animation: cloud-small 5s ease infinite;
}

#cloud-left {
  animation: cloud-small 5s ease infinite;
}

#cloud-middle {
  animation: cloud-big 5s ease infinite;
}

@keyframes cloud-small {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes cloud-big {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

.mouse-ignore{
  pointer-events: none;
}

/*github*/
#github-logo {
  display: none;
}
    
.github0:hover ~ #github-logo {
  display: block;
}

#github1:hover ~ #github-logo {
  display: block;
}

.github0:hover ~ #github1 {
  fill:khaki;
}

#github1:hover {
  fill:khaki;
}

/*linkedin*/
.linkedin-logo1{
  fill:#211915;
  display: none;
}

.linkedin-logo2{
  fill:#fff;
  display: none;
}

.linkedin0:hover ~ .linkedin-logo1 {
  display: block;
}

.linkedin0:hover ~ .linkedin-logo2 {
  display: block;
}

#linkedin1:hover ~ .linkedin-logo1 {
  display: block;
}

#linkedin1:hover ~ .linkedin-logo2 {
  display: block;
}

.linkedin0:hover ~ #linkedin1 {
  fill:khaki;
}

#linkedin1:hover {
  fill:khaki;
}

/*publications*/

.pub0:hover ~ #pub2 {
  fill:khaki;
}

.pub0:hover ~ #pub1b {
  fill:khaki;
}

#pub2:hover {
  fill:khaki;
}

#pub1a:hover ~ #pub1b{
  fill:khaki;
}

#pub2:hover ~ #pub1b {
  fill: khaki;
}

#pub1a:hover ~ #pub2 {
  fill: khaki;
}
