.main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cloud-right {
  transition: 3s ease;
}

svg:hover #cloud-right {
  transform: translateY(100%);
  transform: translateY(-100%);
}