.main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centre {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cloud-right {
  animation: cloud-small 5s ease infinite;
}

#cloud-left {
  animation: cloud-small 5s ease infinite;
}

#cloud-middle {
  animation: cloud-big 5s ease infinite;
}

@keyframes cloud-small {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes cloud-big {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

#github-logo {
  display: none;
}
    
.github0:hover ~ #github-logo {
  display: block;
}

#github1:hover ~ #github-logo {
  display: block;
}

.github0:hover ~ #github1 {
  fill:khaki;
}

#github1:hover {
  fill:khaki;
}

.mouse-ignore{
  pointer-events: none;
}

.linkedin-logo1{
  fill:#211915;
}

.linkedin-logo2{
  fill:#fff;
}

/*#github {
  /*transition: 3s ease;
/*}

/*svg:hover #github {
  /*transform: translateY(100%);
  /*transform: translateY(-100%);
/*}